table{
	text-align:center;
	border-collapse:collapse;}

button{
	height: 50px; width: 50px;}

body{
background-color:#00FFFF;}
	
input[type="text"]{
	width:120px;
	height:50px;
	margin-left:25%;
	margin-top:1%;
	display:block;
	text-align:center;
	font-size:200%;
}

#startButton{
	margin-top:10%;
	text-align:center;
	width:250px;
	height:100;}

#pauseGame{
	background-color: green;}

#mainMenu{
	position:absolute;
	top:125px;
	right:92%;
	width:100px;
	height:100;
	background-color: red;}

#settingsButton{
	margin-top:10%;
	text-align:center;
	width:250px;
	height:100;}

td{
	font-size:20px;}

#menu{
	background-image: url("smiley.gif");
	background-repeat:repeat-x;}

#num{
	width:120px;
	height:50px;

	display:block;
	text-align:center;
	font-size:200%;	}

#settings{
	display: none;
}

.td-settings{
	background-color:white;
}

.table-settings{
	background-img:"ciocolata.jpg";
	border-color:#ff0000 #0000ff;
	background-size:80px 60px;
	text-align:right;   
	padding:60px;    
	color:FF3399; 
	font-size:20px;
}